@import "tailwindcss";

.cssHere > ul {
  font-size: 12px;
  line-height: 1.34;
  cursor: pointer;
}

.cssHere > li:hover:not(:last-child) {
  text-decoration: underline;
}

.eng > a {
  color: #737373;
}

.blueCSShere > ul {
  color: #385898;
}
.grayCSShere > ul {
  color: #8a8d91;
}
