@import "tailwindcss";

.cssHere > li {
  color: #385898;
  font-size: 12px;
  line-height: 1.34;
  cursor: pointer;
}

.cssHere > li:hover:not(:last-child) {
  text-decoration: underline;
}

.eng > a {
  color: #737373;
}
